.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  max-width: 800px;
  min-height: 100vh;
}

.main > * {
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.form > * {
  margin-bottom: 1rem;
}

.text_chunk {
  margin-bottom: 1rem;
}
